<li>
	{{name}}

	<div class = "pull-right">
	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}DEVOURED IT!{{else}}Need a round two!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}"> Delete this burger </button>
	</div>
</li>
