<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Second Round{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Eliminate </button>
</li>
