<li>
	{{name}}

	<div class = "pull-right">
	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Devoured{{else}}Round Two{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}"> Erase </button>
	</div>
</li>
