<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if burgers}}DEVOURED IT!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>
</li>
